<div style="margin: 100px;">
  <h1>Add New Artist to Archive</h1>
  <%= form_with(model: @artist, url: artists_path, method: :post) do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :image_url, class: "form-label" %>
      <%= form.text_field :image_url, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :bio, class: "form-label" %>
      <%= form.text_area :bio, class: "form-control" %>
    </div>
    <div class="d-flex justify-content-center">
      <%= form.submit "Create Artist", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
