<nav class="navbar bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <h1>PlayTunes</h1>
  </div>
</nav>

<div style="margin: 100px;">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @playlists.each do |playlist| %>
      <div class="col">
        <div class="card h-100">
          <div class="card text-center">
            <img src="<%= playlist.img %>" class="card-img-top" alt="<%= playlist.title %>">
            <div class="card-body">
              <h5 class="card-title"><%= playlist.title %></h5>
              <!-- Link to view the details of a playlist -->
              <a href="playlists/<%= playlist.id %>" class="btn btn-primary">View Playlist</a>
              <div class="card-footer" style="margin-top: 10px">
                <!-- Displaying the play time of the playlist -->
                <h6>Play Time: <%= @playlist_times[playlist.id] %></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center" style="padding: 50px">
  <div style="padding: 10px">
    <!-- Link to create a new playlist -->
    <a href="playlists/new" class="btn btn-primary">Create New Playlist</a>
  </div>
	<div style="padding: 10px">
    <!-- Link to add a new artist to the archive -->
    <%= link_to "Add New Artist to Archive", new_artist_path, class: "btn btn-primary" %>
  </div>
  <div style="padding: 10px">
    <!-- Link to add a new song to the archive -->
    <a href="songs/new" class="btn btn-primary">Add New Song to Archive</a>
  </div>
  <div style="padding: 10px">
    <form action="/playlists" method="get" class="d-flex align-items-center">
      <!-- Dropdown for sorting playlists -->
      <select class="form-select me-2" name="sort" aria-label="Default select example">
        <option selected>Sort Playlists By</option>
        <option value="longest">Longest Playtime</option>
        <option value="shortest">Shortest Playtime</option>
      </select>
      <button type="submit" class="btn btn-primary">Sort</button>
    </form>
  </div>
</div>
