<div style="margin: 100px">
  <div class='d-flex justify-content-center' style="margin: 100px;">
    <%= form_tag(search_playlist_path(@playlist), method: :get) do %>
      <!-- Search form for filtering songs in the playlist by artist -->
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="artist">
      <button class="btn btn-primary" type="submit">Search in Playlist by Artist</button>
    <% end %>
  </div>
<h1><%= @playlist.title %></h1>
  <table class="table" style="margin: 50px">
    <thead>
      <tr>
        <th scope="col">Playlist Track #</th>
        <th scope="col">Name</th>
        <th scope="col">Artist</th>
        <th scope="col">Genre</th>
        <th scope="col">Length</th>
      </tr>
    </thead>
    <tbody>
      <% track_number = 1 %>
      <% @songs_in_playlist.each do |song| %>
        <tr>
          <th scope="row"><%= track_number %></th>
          <td><%= song.title %></td>
          <td><%= song.artist.name %></td>
          <td><%= song.genre %></td>
          <td><%= song.length %></td>
					<td>
					<% playlist_track = @playlist.playlist_tracks.find_by(song_id: song.id) %>
					<% if playlist_track %>
						<!-- Button to remove a track from the playlist -->
						<%= button_to "Remove", playlist_playlist_track_path(@playlist, playlist_track), method: :delete, class: "btn btn-danger btn-lg", data: { confirm: "Are you sure you want to remove this track from the playlist?" } %>
					<% end %>
					</td>
        </tr>
        <% track_number += 1 %>
      <% end %>
    </tbody>
  </table>
<div style="margin: 50px">
  <h5 style="margin: 50px">Play Time
	: <%= @playlist_time_minutes %></h5>
</div>
<div class='d-flex justify-content-center'>
<form action="<%=@playlist.id%>/playlist_tracks" method="post">
  <!-- Dropdown for adding a song to the playlist -->
  <%= select("playlist_track", "song_id", [ "-- Select Song --", *Song.all.collect {|s| [ "#{s.title} - #{s.artist.name}", s.id ] }]) %>
  <input type="submit" class="btn btn-primary" value="Add Song To Playlist">
</form>
</div>
<div class="d-flex justify-content-center">
  <!-- Button to navigate back to the playlists index page -->
  <%= button_to "Back to Playlists", "/", method: :get, class: "btn btn-primary btn-lg"%>
</div>
