<table class="table" style="margin: 50px">
  <thead>
    <tr>
      <th scope="col">Track #</th>
      <th scope="col">Name</th>
      <th scope="col">Artist</th>
      <th scope="col">Genre</th>
      <th scope="col">Length</th>
    </tr>
  </thead>
  <tbody>
    <% @songs_in_playlist.map do |song| %>
      <tr>
      <th scope="row"><%= song.id %></th>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= song.genre %></td>
        <td><%= song.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class='d-flex justify-content-center'>
<form action="<%=@playlist.id%>/playlist_tracks" method="post">
  <%= select("playlist_track", "song_id", [ "-- Select Song --", *Song.all.collect {|s| [ "#{s.title} - #{s.artist}", s.id ] }]) %>
  <input type="submit" class="btn btn-primary" value="Add Song To Playlist">
</form>
</div>

<div class="d-flex justify-content-center">
  <%= button_to "Back to Playlists", "/", method: :get, class: "btn btn-primary btn-lg"%>
<div>


